.isi1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 100px;
    line-height: 40px;
    


}
.judul{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    
}